body{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+41,6d0019+52,6d0019+61,44000a+73,44000a+73,44000a+83,44000a+94,44000a+99&1+0,0.73+27,1+70,1+87 */
background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(152,2,36,0.73) 27%, rgba(143,2,34,0.82) 41%, rgba(109,0,25,0.89) 52%, rgba(109,0,25,0.95) 61%, rgba(78,0,14,1) 70%, rgba(68,0,10,1) 73%, rgba(68,0,10,1) 83%, rgba(68,0,10,1) 87%, rgba(68,0,10,1) 94%, rgba(68,0,10,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(152,2,36,0.73) 27%,rgba(143,2,34,0.82) 41%,rgba(109,0,25,0.89) 52%,rgba(109,0,25,0.95) 61%,rgba(78,0,14,1) 70%,rgba(68,0,10,1) 73%,rgba(68,0,10,1) 83%,rgba(68,0,10,1) 87%,rgba(68,0,10,1) 94%,rgba(68,0,10,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(152,2,36,0.73) 27%,rgba(143,2,34,0.82) 41%,rgba(109,0,25,0.89) 52%,rgba(109,0,25,0.95) 61%,rgba(78,0,14,1) 70%,rgba(68,0,10,1) 73%,rgba(68,0,10,1) 83%,rgba(68,0,10,1) 87%,rgba(68,0,10,1) 94%,rgba(68,0,10,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#44000a',GradientType=0 ); /* IE6-9 */
       background-size: cover; 
       background-repeat: no-repeat;     
       padding: 10px; 
       min-height: 800px;
}
